{% extends 'base.html.twig' %}

{% block title %}Petite Annonces{% endblock %}

{% block body %}

    <div class="row flex">

        {% for annonce in annonceList %}
            <div class="col-12">
                <div class="card bg-ligth">
                    <div class="card-body">
                       <h5 class="card-title">
                           <a href="{{ path('annonce.show', {id: annonce.id, slug: annonce.slug}) }}">{{ annonce.title }} </a>
                       </h5>
                        <p>{{ annonce.price ~ '€' }}</p>
                        <p>{{ annonce.author.email }}</p>
                        <p>{{ annonce.author.areaCode ~ ' ' ~ annonce.author.location }}</p>
                        <p>{{ annonce.createdAt | date('d/m/y') }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {{ knp_pagination_render(annonceList) }}
{% endblock %}
