{% extends 'user/index.html.twig' %}

{% block title %}Nouveau Utilisateur{% endblock %}


{% block body %}

{{ form_start(form) }}
{{ form_widget(form) }}

<div class="row">
    <div class="col">
        {{ form_row(form.name) }}
    </div>
    <div class="col">
        {{ form_row(form.first_name) }}
    </div>
    <div class="col">
        {{ form_row(form.phone) }}
    </div>
    <div class="col">
        {{ form_row(form.email) }}
    </div>
    <div class="col">
        {{ form_row(form.encodedPassword) }}
    </div>
    <div class="col">
                {{ form_row(form.location) }}
    </div>
    <div class="col">
        {{ form_row(form.area_code) }}
    </div>
</div>
{{ form_end(form) }}
{% endblock %}